html {
  max-width: 100%;
}

body {
  margin: 0 auto;
  max-width: 100%;
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  width: 100%;
}

header img {
  width: 370px;
  z-index: 500;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav li {
  display: inline;
  color: #000000;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px 20px;
}

nav li:hover {
  color: #4c4d4dcc;
}

.searchZone {
  display: flex;
  align-items: center;
}

#searchBar {
  margin-left: 15px;
}

#accountCircle {
  padding: 0px 30px;
}

/*Separatore tra i link dell'elenco, seleziono tutti quelli successivi al primo, tranne l'ultimo */
nav li:not(:last-child)::after {
  content: " ";
  padding: 8px;
}

/* Immagine home */
.container {
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  /* Centra il testo rispetto all'immagine */
  border-radius: 10px;
  /* Opzionale: bordi arrotondati */
  background-color: rgba(0, 0, 0, 0.5);
  /* Sfondo semitrasparente */
  padding: 5px 10px;
  /* Aggiungi spazio attorno al testo */
}

.image-text h1 {
  font: 70px 'Roboto Condensed', sans-serif;
  /* Imposta il font del testo */
}

.image-text p {
  font: 28px 'Roboto medium', sans-serif;
  /* Imposta il font del testo */
}

.dynamicNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d2987;
  height: 220px;
  width: 100%;
  background-image: linear-gradient(-12deg, transparent 25%, #1236ac 30%, #1236ac 70%, transparent 75%);
  box-shadow: inset 0px 50px 100px 0px rgba(0, 0, 0, 1);
}

.dynamicNav h1 {
  color: #ffffff;
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 100px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 1px solid #d3d3d3;
  background-color: #ffffff;
}

.main_content {
  padding-bottom: 5vw;
}

/* Risoluzione conflitto grafico dato da BeerCss e Tinymce */
:is(.button,button):after {
  all: unset; 
}

.articlesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 280px;
  gap: 80px;
}

.articlePreview {
  width: 600px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px;
  padding: 40px;
  border-radius: 32px;
  background: #d3d3d3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; 
  word-break: break-word;
  hyphens: auto;
  font-size: 18px;
}

#getDataForm, .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articleText {
  padding: 100px 400px;
  font-size: 24px;
}
